<!DOCTYPE>
<html lang="en">
<head>
  <title>MarksDatabase</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <script src="/js/angular.min.js"></script>
  <script src="/js/angular-route.min.js"></script>
  <script src="/index.js"></script>
  <script src="/js/addStudentDetails.js"></script>
  <script src="/js/addBranchDetails.js"></script>
  <script src="/js/addSubjectDetails.js"></script>
  <script src="/js/addStudentMarks.js"></script>
  <script src="/js/updateStudentMarks.js"></script>
  <script src="/js/viewMarks.js"></script>
</head>
<body ng-app="marksDatabase">

  <!--navigation bar-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand active" id="brand" href="#">MarksDatabase</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="navbarButtons"><a ng-href="/addStudentMarks">Add Marks</a></li>
          <li class="navbarButtons"><a ng-href="/updateStudentMarks">Update Marks</a></li>
          <li class="navbarButtons"><a ng-href="/addStudentDetails">Student Details</a></li>
          <li class="navbarButtons"><a ng-href="/addSubjectDetails">Subject Details</a></li>
          <li class="navbarButtons"><a ng-href="/addBranchDetails">Branch Details</a></li>
          <li class="navbarButtons"><a ng-href="/viewMarks">View Marks</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbarButtons"><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div ng-view>
  </div>

</body>
</html>
