<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MarksDB</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <div style="text-align:center">
      <h1>MarksDB</h1>
    </div>


    <!--This is the main div that holds both the login and signup-->
    <div style="width=100%;">

      <!--First is the div that contains only the user login-->
      <div id="signIn" style="width:70%;margin-left:15%;margin-top:2%;">
        <h2>Login</h2><br/>
        <div class="alert alert-dismissible alert-danger" style="display:none" id="logInAlert">
          <button type="button" class="close" data-dismiss="alert" onclick="$('#logInAlert').hide();">×</button>
          <p id="logInAlertText">One of the fields have been left empty.Please submit only after completion.</p>
        </div>
        <div class="form-group">
          <label class="control-label" for="username">Username</label>
          <input class="form-control" id="username" type="text" placeholder="Enter username...">
        </div>
        <div class="form-group">
          <label class="control-label" for="password">Password</label>
          <input class="form-control" id="password" type="password" placeholder="Enter password...">
        </div>
        <br/>
        <a id="logInForm" style="margin-top:1%" href="#" class="btn btn-primary btn-block">Log In</a>
      </div>

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>  <!--1.11.3-->
    <script src="login.js"></script>
  </body>
</html>
