<div style="width:70%;margin-left:15%;margin-top:3%;margin-bottom:6%">

  <div class="panel panel-default" style="margin-bottom:5%">
    <div class="panel-body" ng-bind="alertText"></div>
  </div>

  <div>

    <h3>Add or modify branch</h3>
    <!--Add Branch details-->
    <div style="clear:both">

      <div style="float:left;width:30%">
        <label class="control-label" for="name">Branch name</label>
        <div class="form-group" id="name">
          <input type="text" class="form-control" placeholder="Enter Branch name" ng-model="name">
        </div><!-- /input-group -->
      </div>

      <!--Group-->
      <div class="form-group" style="float:left;width:30%;margin-left:25%">
        <label for="group" class="control-label">Group</label>
        <div>
          <select class="form-control" ng-model="group" id="group">
            <option value="PG" selected="">Post Graduate</option>
            <option value="UG">Under Graduate</option>
            <option value="DP">Diploma</option>
          </select>
        </div>
      </div>

      <a style="float:left;width:10%;margin-left:5%;margin-top:3%" class="btn btn-primary" href="#" ng-click="searchRecord()">Search</a>
    </div>

    <div style="clear:both">
      <!--Year displayed here-->
      <div style="float:left;width:45%">
        <ul style="list-style-type:none">
          <li style="margin-top:1%" ng-repeat="yearElement in yearList" value="{{ yearElement }}">
            <span>{{ yearElement }}</span>
            <a href="#" ng-click="removeYear(yearElement)">Remove</a> <!--Add an ng-click to insert a new year-->
          </li>
        </ul>
        <div class="form-group">
          <label class="control-label" for="years">Years(Scheme)</label>
          <input class="form-control" id="years" ng-model="year" type="text">
        </div>
        <a href="#" class="btn btn-primary btn-block" ng-click="addYear()">Add Year</a> <!--Add an ng-click to insert a new year-->
      </div>
      <!--Semester displayed here-->
      <div style="float:left;width:45%;margin-left:10%">
        <ul style="list-style-type:none">
          <!--use ng-repeat to display all the semesters-->
          <li style="margin-top:1%;margin-left:10%" ng-repeat="semElement in semList" value="{{ semElement }}">
            <span>{{ semElement }}</span>
            <a href="#" ng-click="removeSem(semElement)">Remove</a> <!--Add an ng-click to insert a new year-->
          </li>
        </ul>
        <div class="form-group">
          <label class="control-label" for="sems">Semesters</label>
          <input class="form-control" id="sems" ng-model="sem" type="text">
        </div>
        <a href="#" class="btn btn-primary btn-block" ng-click="addSem()">Add Semester</a><!--Add a ng-click to insert a new semester-->
      </div>
    </div>

    <div style="clear:both">
      <a style="float:left;margin-top:2%" href="#" class="btn btn-primary btn-block" ng-click="submitBranch()">Add another branch</a>
    </div>

    <!-- !adding branch-->
  </div>

</div>
