<!--Add student details-->
<div style="width:70%;margin-left:15%;margin-top:7%">

  <div class="panel panel-default" style="margin-bottom:5%">
    <div class="panel-body" ng-bind="alertText"></div>
  </div>

  <div style="margin-bottom:5%">
    <div class="form-group">
      <label class="control-label" for="usn">USN</label>
      <input class="form-control" id="usn" ng-model="usn" type="text">
    </div>
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <input class="form-control" id="name" ng-model="name" type="text">
    </div>
    <a href="#" class="btn btn-primary btn-block" ng-model="submitNewStudent" ng-click="submit()">Submit Student Details</a>
  </div>

  <div style="margin-bottom:5%">
    <div class="form-group">
      <label class="control-label" for="id">Record Id</label>
      <input class="form-control" id="id" ng-model="id" type="text">
    </div>
    <a href="#" class="btn btn-primary btn-block" ng-model="deleteStudent" ng-click="delete()">Delete details by record ID</a>
  </div>

</div>
