<!--Add student details-->
<div style="width:70%;margin-left:15%;margin-top:7%">

  <div class="panel panel-default" style="margin-bottom:5%">
    <div class="panel-body" ng-bind="alertText"></div>
  </div>

  <div style="margin-bottom:5%">
    <h3>Add or modify student details</h3>

    <div class="form-group">
      <label class="control-label" for="usn">USN</label>
      <div class="input-group" id="usn">
        <input type="text" class="form-control" ng-model="usn">
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="searchRecord()" type="button">Search</button>
        </span>
      </div><!-- /input-group -->
    </div>

    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <input class="form-control" id="name" ng-model="name" type="text">
    </div>
    <a href="#" class="btn btn-primary btn-block" ng-model="submitNewStudent" ng-click="submit()">Submit Student Details</a>
  </div>

</div>
